<div class="container">
  <p>Books Application</p>

  <input #newBook placeholder="Title"><br>
  <input #newDesc placeholder="Description"><br>
  <input #newPrice placeholder="Book Price"><br>

  <div class="button-container">
    <button (click)="addBook(newBook.value, newDesc.value, newPrice.value)">Add Book</button>
  </div>

  <div *ngFor="let book of books" class="book-container">
    <h3>
      <b>{{ book.title }}</b>
      <span> | {{ book.description }}</span>
      <span> | {{ book.price }}</span>
    </h3>
    <button (click)="deleteBook(book.id)">Delete</button>
  </div>
</div>